@model Product

<style>
        body{
        background-color: white;
        font: navy;
    }
</style>


<h2>@Model.Name Information</h2>

<table class="table">
    <tr>
        <th style="text-align:center">Product ID</th>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Price (USD)</th>
        <th style="text-align:center">Category ID</th>
        <th style="text-align:center">On Sale</th>
        <th style="text-align:center">Stock Level (Units)</th>
        


    </tr>
    <tr>
        <td style="text-align:center">@Model.ProductID</td>
        <td>@Model.Name</td>
        <td style="text-align:center">@Model.Price</td>
        <td style="text-align:center">@Model.CategoryID</td>
        <td style="text-align:center">@Model.OnSale</td>
        <td style="text-align:center">@Model.StockLevel</td>
    </tr>

</table>

<div style="display: block">
    <a href="/Product/UpdateProduct/@Model.ProductID">Update This Product Name or Price</a>
</div>



